<div class="outer-box">
  <mat-tab-group class="tab">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="custom-label-tab">Development</span>
      </ng-template>
      <ng-terminal #term [rows]="_rows" [cols]="_cols" [minWidth]="200" [minHeight]="200" class="ng-terminal">
      </ng-terminal>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="custom-label-tab">Design</span>
      </ng-template>
      <mat-form-field class="custom-width spacing">
        <mat-label>Inserisci il link del tuo profilo Behance o portfolio</mat-label>
        <input matInput placeholder="https://behance.net/profile">
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
  <h2 *ngIf="isSubmitted()">Grazie per aver mandato la tua risposta: {{ containerChar.join('')}}</h2>
</div>